# folders to ignore
lectures/

camera_model_and_calibration/homework/images_calibration/
camera_model_and_calibration/homework/images_calibration2/
camera_model_and_calibration/homework/images_calibration3/

blender_augmentation/models/data/labels/



*.blend
*.blend1
*.xyz
*.zip
*.rar
*.mkv
*.npy
*.pkl
images/

/detection_3d/detection_venv
/segmentation_3d/testing
/segmentation_3d/training